html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #ffe6f2;
  font-family: "Gill Sans", sans-serif;
  text-align: center;
}

h1 {
  margin: 20px 0 10px;  
  font-size: 3rem;
  color: #333;
}

h3 {
  margin: 0 0 20px;    
  font-size: 1.8rem;
  color: #206b40;
}

.link {
  margin: 10px;
}

.link a {
  text-decoration: none;
  color: rgb(232, 104, 164);
  font-size: 1.5rem;
}

.home-photo {
  width: 80%;
  max-width: 1200px;
  height: 70vh;
  margin: 40px auto; 
  background: url('../img/home.jpg') no-repeat center center;
  background-size: contain;
  background-color: #ffe6f2; 
  opacity: 1.0; 
}
