body {
    background-color: #e8eaf6;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    margin-top: 50px;
    font-size: 2.5rem;
}

p {
    color: #555;
    font-size: 1.2rem;
    margin: 20px 0;
    line-height: 1.5;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    background-color: lightgray; 
    padding: 10px;
    border-radius: 8px;
}

.back-link a {
    text-decoration: none;
    color: #d8c6f1dd;
    font-weight: bold;
    font-size: 1.2rem;
}
